<!-- Modal -->
<div class="modal-overlay" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title" id="newCategoryModalLabel">Νέα κατηγορία</h5>
      </div>
      <div class="modal-body">
        <input class="form-control inputBar mt-3 mb-3" id="newCategoryInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-3" data-dismiss="modal" (click)="closeNewCategoryModal()">Κλείσιμο</button>
        <button type="button" class="btn btnStyle" (click)="saveNewCategory()">Αποθήκευση</button>
      </div>
    </div>
  </div>
</div>
