<div class="modal-overlay" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog w-50 modal-dialog-centered modalFormat" role="document">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h4 class="modal-title modalHeader mb-3" id="newCategoryModalLabel">Νέα κατηγορία</h4>
      </div>
      <div class="modal-body">
        <label class="fw-bold labelFormat">Κωδικός</label>
        <input class="form-control mt-2 mb-3" id="newCategoryInputCode"/>
        <label class="fw-bold labelFormat">Κατηγορία</label>
        <input class="form-control mt-2 mb-2" id="newCategoryInputName"/>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary mx-3" data-dismiss="modal" (click)="closeNewCategoryModal()">Κλείσιμο</button>
        <button type="button" class="btn btnStyle" (click)="saveNewCategory()">Αποθήκευση</button>
      </div>
    </div>
  </div>
</div>
