<ng-container class="container-fluid">
  <div class="row px-3" style="background-color: #4c9696">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand navFont" href="#" routerLink="home" >Αρχική</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link navFont" routerLink="newProduct">Νέο προϊόν</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navFont" routerLink="categories">Κατηγορίες προϊόντων</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</ng-container>

