<div class="container justify-content-center w-50" >
  <h2 class="p-4 text-center">Νέο προϊόν</h2>
  <form>
    <div class="form-group mb-3">
      <label for="productFormControlInput" class="fw-semibold">Προϊόν</label>
      <input class="form-control inputBar" id="productFormControlInput" #productName />
    </div>
    <div class="form-group">
      <label for="descriptionTextarea" class="fw-semibold">Περιγραφή</label>
      <textarea class="form-control inputBar" id="descriptionTextarea" rows="3" #description></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="storageTextarea" class="fw-semibold">Θέση αποθήκευσης</label>
      <textarea class="form-control inputBar" id="storageTextarea" rows="1" #position></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="storageTextarea" class="fw-semibold">Κατηγορία</label>
      <select class="form-control inputBar mt-1" id="exampleFormControlSelect1">
        <option *ngFor="let category of categoryList">{{category.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btnStyle mt-5 mb-2" (click)="add(productName.value, description.value,position.value)">Αποθήκευση</button>
  </form>
</div>
