<div class="container justify-content-center w-50" >
  <h2 class="p-4 text-center">Αναζήτηση με φίλτρα</h2>
  <form>
    <div class="form-group mb-3">
      <label for="productFormControlInput">Προϊόν</label>
      <input class="form-control inputBar mt-1" id="productFormControlInput" >
    </div>
        <div class="form-group mb-3">
          <label for="exampleFormControlSelect1">Κατηγορία</label>
          <select class="form-control inputBar mt-1" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
    <div class="form-group mt-1">
      <label for="storageTextarea">Θέση αποθήκευσης</label>
      <textarea class="form-control inputBar mt-1" id="storageTextarea" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btnStyle mt-3 mb-2">Αναζήτηση</button>
  </form>
</div>

