.btnStyle
{
  font-family: Arial;
  color: white;
  background-color: #4c9696;
  height: 2.3em;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnStyle:hover {
  background-color: white;
  border: #4c9696 2px solid;
  color: #4c9696;
}

.tdFormatButtons{
  vertical-align: middle;
  text-align: center;
}

.trFormat:hover{
  background-color: #e8e8e8;
}

.tdFormat{
  vertical-align: middle;
}

.inputBar{
  border-width: 0.08em;
  border-color: darkgrey;
}
