<div class="container justify-content-center w-50" >
<h2 class="p-4 text-center">Κατηγορίες προϊόντων</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let categoryItem of categoryList">Κωδικός: {{categoryItem.id}} - Κατηγορία: {{categoryItem.name}}</li>
</ul>
  <button type="button" class="btn btnStyle mt-3 mb-2" data-toggle="modal" data-target="#newCategoryModal" (click)="showModal()">Νέα κατηγορία</button>
  <app-new-category-modal *ngIf="isModalVisible" (close)="hideModal()"></app-new-category-modal>
</div>



